* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #c3dbf0;
  color: #333;
  padding: 20px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
  width: 100%;
  max-width: 600px;
}

.searched{
  font-size: 15px;
  text-align: left;
  width: 100%;
  max-width: 600px;
}

header h1 {
  font-family: sans-serif;
  font-size: 4rem;
  margin-bottom: 2px;
  color: #1316cf;
}

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

@font-face {
  font-family:'quicksand';
  src: url('src/font/quicksand.ttf');
}

.search-box input {
  font-family: 'quicksand';
  width: 70%;
  padding: 13px;
  font-size: 1.1rem;
  border: 1px solid #ddd;
  border-radius: 25px;
  outline: none;
  box-shadow: 0 2px 6px rgb(0, 0, 0, 0.1);
  transform: all 0.3s ease;
}

.search-box input:focus {
  border-color: #4285f4;
  box-shadow: 0 4px 8px rgb(56, 133, 0244, 0.2);
}

.search-box button {
  padding: 12px 20px;
  margin-left: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 25px;
  background-color: #335cce;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-box button:hover {
  background-color: #5de764;
}

ul {
  list-style: none;
  text-align: left;
  width: 100%;
}

li {
  font-family: 'quicksand';
  font-style: italic;
  font-size: 1rem;
  padding: 5px;
  margin-bottom: 9px;
  background-color: #ffffffe1;
  border: 1px solid #ddd;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgb(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

li:hover {
  background-color: #c3d4e2;
}

.term-link {
  text-decoration: wavy;
  color: #4285f4;
}

.term-link:hover {
  text-decoration: underline;
}
